<div class="container-fluid">
  <div class="card card-block" style="top: 20px;">
    <h4 class="card-title">Test App SMEMPL</h4>
    <div class="form-inline">
    <button class="btn btn-secondary" type="button" (click)="open(content,'A')">Add</button>  
    <button (click)="open(content,'E')" type="button" class="btn btn-warning">Edit</button>
      <div class="form-group">  
        <div class="input-group"> 
          <input type="text" class="form-control" placeholder="Search for EMPCODE" [(ngModel)]="searchbarinput" (keyup.enter)="buttonSearchclick()">
          <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="buttonSearchclick()">Search</button>
      </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-sm" style="margin-top: 16px;">
        <thead>
          <tr class="">
            <th>#</th>
            <th>REF</th>
            <th>ATTN</th>
            <th>DATE</th>
            <th>FROM</th>
            <th>TEL NUMBER</th>
            <th>CC</th>
            <th>FAX NUMBER</th>
            <th>SHIPPER</th>
            <th>QUANTITIES</th>
            <th>FEEDER</th>
            <th>VESSEL</th>
           <!-- <th>PDF</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items" [class.table-info]="isClassVisible==item.DOCNO" (click)="clicktr(item)">
            <th scope="row">{{item.RowNum}}</th>
            <td>{{item.DOCNO}}</td>
            <td>{{item.CTCNAME}}</td>
            <td>{{item.DOCDATE}}</td>
            <td>{{item.FROMNAME}}</td>
            <td>{{item.TEL}}</td>
            <td>{{item.CCNAME}}</td>
            <td>{{item.OPTION1}}</td>
            <td>{{item.SHIPPERNAME}}</td>
            <td>{{item.CBM}}</td>
            <td>{{item.FEEDER}}</td>
            <td>{{item.VESSEL}}</td>
            <!-- <td><button type="button" class="btn btn-link" style="padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;" (click)="viewPDF(item.CTCADR2)">View</button></td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div id="inner">
      <ngb-pagination (pageChange)="pageChange($event)" [(pageSize)]="RowspPage" [(collectionSize)]="totalrows" [(page)]="PageNumber" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
<template ngbModalContainer #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Add System</h4>
  </div>
  <div class="modal-body">

    <div class="form-group">
    <label>DOCNO</label>
    <input type="text" class="form-control"  placeholder="Enter DOCNO" [disabled]="inputfrom.disabled_Key" [(ngModel)]="inputfrom.DOCNO">
  </div>
      <div class="form-group">
    <label>TO</label>
    <input type="text" class="form-control" placeholder="Enter TO" [(ngModel)]="inputfrom.CONAME">
  </div>

      <div class="form-group">
    <label>ATTN</label>
    <input type="text" class="form-control"   placeholder="Enter ATTN" [(ngModel)]="inputfrom.CTCNAME">
  </div>
      <div class="form-group">

    <label>DATE</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="inputfrom.DOCDATE" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-addon" (click)="d.toggle()" >
        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </div>
    </div>
  </div>
  
   
      <div class="form-group">
    <label>FROM :</label>
    <input type="text" class="form-control"  placeholder="Enter FROM" [(ngModel)]="inputfrom.FROMNAME">
  </div>
      <div class="form-group">
    <label>TEL NUMBER:</label>
    <input type="text" class="form-control"  placeholder="Enter TEL NUMBER" [(ngModel)]="inputfrom.TEL">
  </div>
   
    
      <div class="form-group">
    <label>CC :</label>
    <input type="text" class="form-control"  placeholder="Enter CC" [(ngModel)]="inputfrom.CCNAME">
  </div>
      <div class="form-group">
    <label>FAX NUMBER:</label>
    <input type="text" class="form-control"  placeholder="Enter FAX NUMBE" [(ngModel)]="inputfrom.OPTION1">
  </div>
    
       <div class="form-group">
    <label>SHIPPER</label>
    <input type="text" class="form-control"  placeholder="Enter SHIPPER" [(ngModel)]="inputfrom.SHIPPERNAME">
  </div>
         <div class="form-group ">
    <label>QUANTITIES</label>
    <input type="text" class="form-control"  placeholder="Enter QUANTITIES" [(ngModel)]="inputfrom.CBM">
  </div>
         <div class="form-group ">
    <label>FEEDER</label>
    <input type="text" class="form-control"  placeholder="Enter FEEDER" [(ngModel)]="inputfrom.FEEDER">
  </div>
         <div class="form-group ">
    <label>VESSEL</label>
    <input type="text" class="form-control"  placeholder="Enter VESSEL" [(ngModel)]="inputfrom.VESSEL">
  </div>
         <div class="form-group ">
    <label>DESTINATION</label>
    <input type="text" class="form-control"  placeholder="Enter DESTINATION" [(ngModel)]="inputfrom.PORTNAME">
  </div>
  
         <div class="form-group">
    <label >ETD</label>
    <input type="text" class="form-control"  placeholder="Enter ETD" [(ngModel)]="inputfrom.ETD">
  </div>
         <div class="form-group">
    <label >DEST ETA</label>
    <input type="text" class="form-control"  placeholder="Enter DEST ETA" [(ngModel)]="inputfrom.ETA">
  </div>
  
         <div class="form-group">
    <label >CFS DATE</label>
    <input type="text" class="form-control"  placeholder="Enter CFS DATE" [(ngModel)]="inputfrom.CFSDATE">
  </div>
         <div class="form-group">
    <label >LAST LOAD</label>
    <input type="text" class="form-control"  placeholder="Enter LAST LOAD" [(ngModel)]="inputfrom.RETURNDATE">
  </div>
  
  
         <div class="form-group">
    <label >AT BEFORE</label>
    <input type="text" class="form-control"  placeholder="Enter AT BEFORE" [(ngModel)]="inputfrom.LOADTIME">
  </div>
         <div class="form-group">
    <label >CFS AT/CTC</label>
    <input type="text" class="form-control"  placeholder="Enter CFS AT/CTC" [(ngModel)]="inputfrom.EMAIL">
  </div>
 
 
         <div class="form-group">
    <label >BOOKING</label>
    <input type="text" class="form-control"  placeholder="Enter BOOKING" [(ngModel)]="inputfrom.EMAIL">
  </div>
         <div class="form-group">
    <label >ORDER NO</label>
    <input type="text" class="form-control"  placeholder="Enter ORDER NO" [(ngModel)]="inputfrom.EMAIL">
  </div>
 
  
         <div class="form-group">
    <label >PORT OF LOADING</label>
    <input type="text" class="form-control"  placeholder="Enter PORT OF LOADING" [(ngModel)]="inputfrom.EMAIL">
  </div>
         <div class="form-group">
    <label >FREIGHT PAYABLE</label>
    <input type="text" class="form-control"  placeholder="Enter FREIGHT PAYABLE" [(ngModel)]="inputfrom.EMAIL">
  </div>
  
         <div class="form-group">
    <label >SHIPPING LINE</label>
    <input type="text" class="form-control"  placeholder="Enter SHIPPING LINE" [(ngModel)]="inputfrom.EMAIL">
  </div>
         <div class="form-group">
    <label >REMARK</label>
    <input type="text" class="form-control"  placeholder="Enter REMARK" [(ngModel)]="inputfrom.EMAIL">
  </div>
  </div>
  <div class="modal-footer">  
  <ngb-alert [dismissible]="false" *ngIf="ngbalerttext" type="warning" (close)="ngbalerttext = null">{{ ngbalerttext }}</ngb-alert>
    <button type="button" class="btn btn-primary" (click)="Saveclick()">Save</button>
    <button
            class="btn btn-danger"
            mwlConfirm
            title="Are you sure?"
            message="Are you really <b>sure</b> you want to delete?"
            confirmText="Yes"
            cancelText="No"
            placement="right"
            (confirm)="delclick()"
            confirmButtonType="danger"
            cancelButtonType="default"
            [hidden] = "!inputfrom.disabled_Key"
            [appendToBody]="true">
            del
          </button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>